{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'leave_management/menu.css' %}">
{% endblock %}
{% block content %}
<div class="menu-card">
<h1>Leave Management Menu</h1>
<p>Welcome to Leave Management</p>

{% url "apply_leave" as apply_leave %}
<button class="btn" onclick="window.location.href='{{apply_leave}}'">Apply Leave</button>
{% url "leave_status" as leave_status %}
<button class="btn"  onclick="window.location.href='{{leave_status}}'">Leave Status</button> 
</div>

{% endblock %}