

<div class="sidebar">
<h1>Menu</h1>

<ul>

{% if user.role == "admin" %}
<li><a href="/dashboard/admin/" class="{% if request.path == '/dashboard/admin/' %}active{% endif %}">Admin Dashboard</a></li>
<li><a href="/employees/manage/" class="{% if request.path == '/employees/manage/' %}active{% endif %}">Manage Employees</a></li>
<li><a href="/accounts/hrsmenu/" class="{% if request.path == '/accounts/hrsmenu/' %}active{% endif %}">HR management</a></li>
<li><a href="/onboarding/" class="{% if request.path == '/onboarding/' %}active{% endif %}">Onboarding Status</a></li>
<li><a href="/attendence/records/" class="{% if request.path == '/attendence/records/' %}active{% endif %}">Attendence Records</a></li>
<li><a href="/leave/allleaverequest/" class="{% if request.path == '/leave/allleaverequest/' %}active{% endif %}">Leave Management</a></li>
<li><a href="/admin/" class="{% if request.path == '/admin/' %}active{% endif %}">Admin Panel</a></li>
{% endif %}


{% if user.role == "hr" %}

<li><a href="/dashboard/hr/" class="{% if request.path == '/dashboard/hr/' %}active{% endif %}">HR Dashboard</a></li>
<li><a href="/onboarding/hr/list/" class="{% if '/onboarding/hr/' in request.path %}active{% endif %}">Onboarding Management</a></li>
<li><a href="/attendence/menu/" class="{% if request.path == '/attendence/menu/' or request.path == '/attendence/todayattandance/' or request.path == '/attendence/records/' or request.path == '/attendence/today-details/' %}active{% endif %}">Attendence</a></li>
<li><a href="/leave/hr/" class="{% if request.path == '/leave/hr/' %}active{% endif %}">Leave Request</a></li>
<li><a href="/employees/" class="{% if '/employees/' in request.path %}active{% endif %}">Employees</a></li>
{% endif %}

{% if user.role == "employee" %}
<li><a href="/dashboard/employee/" class="{% if request.path == '/dashboard/employee/' or request.path == '/employees/profile/' or request.path == '/employees/profile/edit/' %}active{% endif %}">Employee Dashboard</a></li>
<li><a href="/onboarding/status/" class="{% if request.path == '/onboarding/status/' or request.path == '/onboarding/verification/' or request.path == '/onboarding/bank-details/' %}active{% endif %}">Onboarding</a></li>
<li><a href="/attendence/" class="{% if request.path == '/attendence/' or request.path == '/attendence/history/' or request.path == '/attendence/check-in-out/' %}active{% endif %}">Attendance</a></li>
<li><a href="/leave/" class="{% if request.path == '/leave/' or request.path == '/leave/apply/' or request.path == '/leave/status/' %}active{% endif %}">Apply Leave</a></li>



{% endif %}

</ul>

</div>